/* === DEFAULT | RESET STYLES === */

@import "normalize.css";

/* === CUSTOM WEB FONTS === */

@font-face {
  font-family: "Beauty Sunny";
  src:
    url("../fonts/BeautySunny.woff2") format("woff2"),
    url("../fonts/BeautySunny.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Chicago";
  src:
    url("../fonts/ChicagoRegular.woff2") format("woff2"),
    url("../fonts/ChicagoRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hanging Letters";
  src:
    url("../fonts/HangingLetters.woff2") format("woff2"),
    url("../fonts/HangingLetters.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* === GLOBAL VARIABLES === */

:root {
  --dark-umber-color: hsl(0 11% 21%);
  --soft-gold-color: hsl(38 66% 71%);
  --deep-moss-green-color: hsl(127 28% 25%);
  --light-beige-color: hsl(36 56% 91%);
  --pale-cream-color: hsl(37 74% 90%);

  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --font-size-s: 0.875rem;
  --font-size-m: 1rem;
  --font-size-l: 1.125rem;
  --font-size-xl: 1.3125rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 2.652rem;
}

/* === BASE STYLES === */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

button {
  cursor: pointer;
  border: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* === NAVBAR STYLES === */

.header {
  background: var(--dark-umber-color);
}

.navbar.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
  color: var(--soft-gold-color);
}

.brand {
  font-family: "Hanging Letters", var(--system-ui);
  font-size: var(--font-size-3xl);
}

.nav {
  display: flex;
  gap: 2em;
}

.button {
  background: transparent;
  padding: 1em 2em;
  color: var(--pale-cream-color);
  font-family: "Beauty Sunny", var(--system-ui);
  font-weight: bold;
  font-size: var(--font-size-xl);
  transition:
    background 0.4s ease,
    color 0.4s ease,
    border 0.4s ease,
    border-radius 0.4s ease;
}

.button:hover {
  border-radius: 0.5em;
  background: var(--soft-gold-color);
  color: var(--dark-umber-color);
  border-bottom: none;
}

.button.active {
  border-bottom: solid 0.1em var(--soft-gold-color);
}

/* === FOOTER STYLES === */

.footer {
  background: var(--dark-umber-color);
  color: var(--soft-gold-color);
  text-align: center;
  padding: 1em 0;
  font-family: "Hanging Letters", var(--system-ui);
  font-weight: bold;
  font-size: var(--font-size-l);
  letter-spacing: 0.2em;
}
